# Configuración de ejemplo para entorno local o empaquetado
APP_ENV=local
APP_BASE_URL=http://localhost/nombre_de_empresa
APP_PORT=8000

# Conexión por defecto: mysql o sqlite
DB_CONNECTION=sqlite
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=db_partner
DB_CHARSET=utf8mb4

# Ruta de SQLite si usas DB_CONNECTION=sqlite
SQLITE_PATH=database/database.db

# Si deseas forzar una ruta PHP portable desde Electron
PHP_EXECUTABLE=php
